

@media (max-width: $small-mobiles-maxwidth) {
    .search-input {
        padding: 3px;
        margin: 10% 0 10% 0;
        width: 85%;
        font-size: medium;
    }

    
}

@media (min-width: $large-mobiles-minwidth)  {
    .search-input {
        // border-radius: 10px;
        padding: 3px;
        margin: 5% 0 5% 0;
        width: 85%;
        font-size: medium;
    }
}

.search-input:focus-visible{
    outline-style: none;
}