$bg-color: #282c34;
$container-color: #e1e1e1;
$small-mobiles-maxwidth: 600px;
$large-mobiles-minwidth: 601px;

@import './components/SearchBar/searchBarStyle';

.App {
  text-align: center;
  background-color: $bg-color;
  height: 100vh;
  width: 100vw;
}

.container {
  width: 60%;
  background-color: $container-color;
  margin: auto;
}


@media (max-width: $small-mobiles-maxwidth) {

  .item-list {
    text-align: start;
    margin: 0 15% 0 15%;
    // color: $text-color;
    list-style: none;
    font-size: large;
  }
 
}

@media (min-width: $large-mobiles-minwidth)  {

  .item-list {
    text-align: start;
    margin: 0 30% 0 30%;
    // color: $text-color;
    list-style: none;
    font-size: large;
  }
}


.item-list-element {
  padding: 5% 0 5% 0;
 
  border-bottom-style: solid;
  // border-bottom-color: $text-color;
  border-bottom-width: 2px;

  display: flex;
  justify-content: space-between;
}

.button-delete {
  background-color: transparent;
  border-style: none;
}

