$bg-color: #282c34;
$container-color: #f1f1f1;
$small-mobiles-maxwidth: 600px;
$large-mobiles-minwidth: 601px;

@import './components/SearchBar/searchBarStyle';
@import './components//Footer//footer';

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: $bg-color;
  min-height: 100vh;
  width: 100%;
  display: inline-block;
}

.container {
  background-color: $container-color;
  margin: auto;
}


@media (max-width: $small-mobiles-maxwidth) {

  .item-list {
    text-align: start;
    margin: 0 5% 0 5%;
    // color: $text-color;
    list-style: none;
    font-size: medium;
  }

  .container {
    width: 85%;
  }
 
}

@media (min-width: $large-mobiles-minwidth)  {

  .item-list {
    text-align: start;
    margin: 0 30% 0 30%;
    // color: $text-color;
    list-style: none;
    font-size: medium;
  }

  .container {
    width: 40%;
  }
}


.item-list-element {
  padding: 5% 0 5% 0;
 
  border-bottom-style: solid;
  // border-bottom-color: $text-color;
  border-bottom-width: 2px;

  display: flex;
  justify-content: space-between;
}

.button-delete {
  background-color: transparent;
  border-style: none;
}

